<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>WEconnect login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./assets/styles/main.css"/>
  </head>
  <body class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-4">
          <figure class="text-center">
            <img class="rounded-circle logo" src="./assets/images/weconnect-logo.png" alt="logo"/>
            <figcaption>
              <h1 style="color: whitesmoke;">WEconnect</h1>
            </figcaption>
          </figure>
          <div style="background-color: white" class="jumbotron signup-login">
            <form action="dashboard.html">
              <div class="form-group row">
                <div class="row col signup-login" style="margin: 1%;">
                  <input class="form-control form-input" placeholder="email"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="row col signup-login" style="margin: 1%">
                  <input class="form-control form-input" placeholder="enter password" type="password"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-5">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col">
                <a style="color: brown;" href="signup.html">I don't have an account?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <script src="./assets/dist/main.js"></script>
  </body>
</html>