<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>WEconnect signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
  </head>
  <body class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-4">
          <figure class="text-center">
            <img class="rounded-circle logo" src="./assets/images/weconnect-logo.png" alt="logo"/>
            <figcaption>
              <h1 style="color: whitesmoke;">WEconnect</h1>
            </figcaption>
          </figure>
          <div class="jumbotron signup-login" style="margin-top: 1%; margin-bottom: 5%; background-color: white;">
            <form action="dashboard.html">
              <div class="form-group row align-self-center">
                <div class="row col signup-login">
                  <input class="form-control form-input" placeholder="full name"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="row col signup-login">
                  <input class="form-control form-input" placeholder="username"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="row col signup-login">
                  <input class="form-control form-input" placeholder="email"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="row col signup-login">
                  <input class="form-control form-input" type="password" placeholder="enter password"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="row col signup-login">
                  <input class="form-control form-input" type="password" placeholder="confirm password"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-4">
                  <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
              </div>
            </form>
            <div class="row" style="color: white;">
              <div style="color: brown;" class="col">
                Registered Already, Log In <a style="color: blue" href="login.html">Here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <script src="./assets/dist/main.js"></script>
  </body>
</html>